html { 
    background: url('img/26287.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }

body {
	height: 100%;
	margin: 0;
	font-family: monospace; 
  }

/* Effect sur Photo Profile */

.img-effect {
    width: 125px;
    height: auto;
    filter: sepia(60%);
    border-radius:50%;
  }


.cadre01 {
	background: linear-gradient(45deg, #ff5f2e, #c21818, #1e2fcc, #23a6d5, #15e6b5);
    background-size: 400% 100%;
    animation: gradient 15s ease infinite;
	border-radius: 50% 20% / 10% 40%;
	text-align:center;
	align-items: center; 
	margin: auto;
	margin-top: 150px; 	
	width: 500px;
	height: 360px;
	padding:10px;
	border:3px solid midnightblue;
	opacity: 0.8;
	box-shadow: 10px 5px 5px rgb(66, 66, 66);
  }

  .cadre02 {
	background: burlywood;
	/* border-radius: 10% ; */
	text-align:center;
	align-items: center; 
	margin: auto;
	width: 325px;
	height: 90px;
	padding:5px;
	border:1px solid midnightblue;
	opacity: 0.6;
	box-shadow: 5px 5px 5px rgb(66, 66, 66);
	justify-content: center;
  }



/* Social link and icone */

.sociallink{
    left: 0px;
    right: 0px;
    margin: auto;
    width: 250px;
  }

.sociallink figure img{
    width: 30px;
  }

.sociallink figure img:hover{
    width: 34px; 
  }

/* position */

.name-titre {
	position: relative;
	top: 5px; left: center;
}

.descrip{
	position: relative;
	top: 15px; left: center;
	margin-left: 150px ;
	text-align:center; 
  }

.contact {
	position: relative;
	top: 15px; left: center;
	margin-left: 150px ;
  }

.sociallink {
	float:left;
	margin-top: -140px;
	margin-left: -50px;
  }	

.img-sec {
	float:left;
	margin-top: 35px;
	margin-left: 15px;
  }	

 /* TAG custom H1 H2 */

h1 {
	font-size: 175%;
	text-align:center; 
	/* Shadow effect */
	text-shadow: 1px 1px 2px rgb(70, 69, 68), 0 0 1em rgb(37, 37, 71), 0 0 0.2em rgb(179, 122, 17);
  }

  h2 {
	font-size: 125%;
	text-align:center; 
  }

.ftsz100 {
	font-size: 100%;
}
